@page

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="deckOptions"></div>
    </div>

<span style="font-size:20px;cursor:pointer" id="openSideNav" onclick="openNav()">&#9776; Deck Config</span>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<div class="container">
    <div><ul id="players"></ul></div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div><input type="text" id="nameInput" placeholder="What's you name?" /></div>
        <div><input type="button" id="setName" value="Set Name" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="startButton" value="Start Game" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <hr />
        <div id="topLine">
            <div id="blackCard"></div>
            <div id="selectedCards"></div>
        </div>
        <div id="cards">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">

        <ul id="messagesList"></ul>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
<script src="~/js/node-uuid/uuid.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">